@model Asignatura


@{
    ViewData["Title"] = "Borrar datos de la lista de Asignatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.MensajeExtra</h2>

<form method="POST">
   
    <strong>¿ Estas seguro en borrar los datos de esta asignatura ?</strong>
    <div></div>
<p>
    <strong>Nombre del curso:</strong> @Model.Nombre <br/>
    <strong>Id :</strong> @Model.Id
</p>

<input onclick= "document.location.href= '//localhost:5001/Asignatura/MultiAsignatura'" type="submit" class="btn btn-sucecess" value="Borrar" />

</form>


<p><i>@ViewBag.Fecha</i></p>